.container{
    display: flex;
    gap: 60px;
}

.imgContainer{
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
}

.img{
    object-fit: cover;
}

.textContainer{
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 50px;
}

.title{
    font-size: 48px;
}

.detail{
    display: flex;
    gap: 10px;
}


.detailText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailTitle{
    font-weight: bold;
    color: gray;
}

.detailTitle{
    font-weight: 500;
}

.content{
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .imgContainer{
        display: none;
    }
}